<%= render('shared/navbar') %>

<div class="container d-flex justify-content-center">
    <div class = 'card-add mt-4 text-center px-3 py-3'>
      <p>Créer votre cocktail</p>
      <div>
        <%= simple_form_for(@cocktail) do |f|%>
        <%= f.input :name, class: 'label' %>
        <%= f.input :photo, as: :file, class: 'label' %>
        <div class="text-center">
          <%= f.submit 'Add', class: 'btn btn-primary px-2 py-1'%>
        </div>
      </div>
      <% end %>
    </div>
</div>
