<%= render('shared/navbar') %>

<div class="container d-flex justify-content-center mt-5">
    <div class = 'card-add text-center px-3 py-3'>
      <p>ADD A DOSE</p>
      <div>
        <%= simple_form_for([@cocktail, @dose]) do |f| %>
        <%= f.input :description %>
        <%= f.association :ingredient %>
        <div class="text-center">
          <%= f.submit 'Add', class: 'button-add px-2 py-1'%>
        </div>
      </div>
      <% end %>
    </div>
</div>
